<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新</title>
<link href="/css/commons.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="common/header"></th:block>

  <hr>

  <div class="insert">
    <div class="form-body">
      <p class="error" th:text="${errorUpdateMessage}"></p>

      <form th:action="@{/updateInput/{pId}(pId=${productId.id()})}" method="post" th:object="${updateProductForm}">
        <fieldset class="label-130">
          <div>
            <label>商品ID</label>
            <input type="text" name="productId" th:field="*{updateProductId}" class="base-text">
            <div class="error" th:each="error: ${#fields.errors('updateProductId')}">
              [[ ${error} ]]
            </div>
            <p class="error">[[ ${errorMessage} ]]</p>
          </div>
          <div>
            <label>商品名</label>
            <input type="text" name="name" th:field="*{updateProductName}" class="base-text">
            <div class="error" th:each="error: ${#fields.errors('updateProductName')}">
              [[ ${error} ]]
            </div>
          </div>
          <div>
            <label>単価</label>
            <input type="text" name="price" th:field="*{updateProductPrice}" class="base-text">
            <div class="error" th:each="error: ${#fields.errors('updateProductPrice')}">
              [[ ${error} ]]
            </div>
          </div>
          <div>
            <label>カテゴリ</label>
            <select th:field="*{updateCategoryId}" name="categoryId" class="base-text">
              <option th:each="categories : ${categoriesList}" th:value="${categories.id}" th:text="${categories.name}"></option>
            </select>

          </div>
          <div>
            <label>商品説明</label>
            <textarea name="description" th:field="*{updateDescription}" class="base-text">
            </textarea>
          </div>
          <div>
            <label>画像</label>
            <input type="file" name="file">
            <span class="error">エラーメッセージ</span>

          </div>
        </fieldset>
          <div class="btns">
            <button type="button" onclick="openModal()" class="basic-btn">更新</button>
            <input type="button" onclick="location.href='/menu'" value="メニューに戻る" class="cancel-btn">
          </div>
          <div id="modal">
            <p class="modal-message">更新しますか？</p>
            <div class="btns">
              <button type="submit" id="update-btn" class="basic-btn">更新</button>
              <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
  <script src="/js/commons.js"></script>
  <script>
    'use strict'
    document.getElementById('update-btn').addEventListener('click', () => {
      location.href = './menu'
    })
  </script>
</body>
</html>